<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FcRecordMapper">
    
    <resultMap type="FcRecord" id="FcRecordResult">
        <result property="id"    column="id"    />
        <result property="imgkey"    column="imgKey"    />
        <result property="content"    column="content"    />
        <result property="taskpath"    column="taskPath"    />
        <result property="pole"    column="pole"    />
        <result property="cameraid"    column="cameraId"    />
        <result property="startx"    column="startX"    />
        <result property="starty"    column="startY"    />
        <result property="endx"    column="endX"    />
        <result property="newX"    column="newX"    />
        <result property="endy"    column="endY"    />
        <result property="componentName"    column="componentName"    />
        <result property="componentDefect"    column="componentDefect"    />
        <result property="defectType"    column="defectType"    />
        <result property="defectLevel"    column="defectLevel"    />
        <result property="checkDate"    column="checkDate"    />
        <result property="STN"    column="STN"    />
        <result property="KMV"    column="KMV"    />
        <result property="TIM"    column="TIM"    />
        <result property="imgPath"    column="imgPath"    />
    </resultMap>

    <!--<sql id="selectFcRecordVo">-->
        <!--select c.id, c.imgKey, c.content, c.taskPath, c.pole, c.cameraId, c.startX, c.startY,c.checkDate,c.STN,c.KMV,c.TIM,-->
        <!--c.endX, c.endY,c.componentNameId,c.componentDefectId,c.defectTypeId,c.defectLevelId,c.imgPath,-->
        <!--(SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type="component_name" and d.dict_value = c.componentNameId) componentName,-->
        <!--(SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type="component_defect" and d.dict_value = c.componentDefectId) componentDefect,-->
        <!--(SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type="defect_type" and d.dict_value = c.defectTypeId) defectType,-->
        <!--(SELECT d.dict_label FROM sys_dict_data d WHERE d.dict_type="defect_level" and d.dict_value = c.defectLevelId) defectLevel-->
          <!--from fc_record c-->
    <!--</sql>-->
    <sql id="selectFcRecordVo">
        select * from fc_record
    </sql>

    <select id="selectFcRecordList" parameterType="FcRecord" resultMap="FcRecordResult">
        <include refid="selectFcRecordVo"/>
        <where>  
            <if test="imgkey != null "> and imgKey = #{imgkey}</if>
            <if test="content != null  and content != ''"> and content like concat('%', #{content}, '%')</if>
            <if test="taskpath != null  and taskpath != ''"> and taskPath = #{taskpath}</if>
            <if test="pole != null  and pole != ''"> and pole = #{pole}</if>
            <if test="cameraid != null "> and cameraId = #{cameraid}</if>
            <if test="startx != null "> and startX = #{startx}</if>
            <if test="starty != null "> and startY = #{starty}</if>
            <if test="endx != null "> and endX = #{endx}</if>
            <if test="newX != null "> and endX = #{newX}</if>
            <if test="endy != null "> and endY = #{endy}</if>
            <if test="componentName != null "> and componentName = #{componentName}</if>
            <if test="componentDefect != null "> and componentDefect = #{componentDefect}</if>
            <if test="defectType != null "> and defectType = #{defectType}</if>
            <if test="defectLevel != null "> and defectLevel = #{defectLevel}</if>
            <if test="checkDate != null "> and checkDate = #{checkDate}</if>
            <if test="STN != null "> and STN = #{STN}</if>
            <if test="KMV != null "> and KMV = #{KMV}</if>
            <if test="TIM != null "> and TIM = #{TIM}</if>
            <if test="imgPath != null "> and imgPath = #{imgPath}</if>
        </where>
    </select>
    
    <select id="selectFcRecordById" parameterType="Integer" resultMap="FcRecordResult">
        <include refid="selectFcRecordVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFcRecord" parameterType="FcRecord" useGeneratedKeys="true" keyProperty="id">
        insert into fc_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="imgkey != null and imgkey !='' ">imgKey,</if>
            <if test="content != null and content !='' ">content,</if>
            <if test="taskpath != null and taskpath !='' ">taskPath,</if>
            <if test="pole != null and pole !='' ">pole,</if>
            <if test="cameraid != null and cameraid !='' ">cameraId,</if>
            <if test="startx != null and startx !='' ">startX,</if>
            <if test="starty != null and starty !='' ">startY,</if>
            <if test="endx != null and endx !='' ">endX,</if>
            <if test="newX != null and newX !='' ">newX,</if>
            <if test="endy != null and endy !='' ">endY,</if>
            <if test="componentName != null and componentName !='' ">componentName,</if>
            <if test="componentDefect != null and componentDefect !='' ">componentDefect,</if>
            <if test="defectType != null and defectType !='' ">defectType,</if>
            <if test="defectLevel != null and defectLevel !='' ">defectLevel,</if>
            <if test="checkDate != null and checkDate !='' ">checkDate,</if>
            <if test="STN != null and STN !='' ">STN,</if>
            <if test="KMV != null and KMV !='' ">KMV,</if>
            <if test="TIM != null and TIM !='' ">TIM,</if>
            <if test="imgPath != null and imgPath !='' ">imgPath</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="imgkey != null and imgkey !='' ">#{imgkey},</if>
            <if test="content != null and content !=''">#{content},</if>
            <if test="taskpath != null and taskpath !='' ">#{taskpath},</if>
            <if test="pole != null and pole !=''">#{pole},</if>
            <if test="cameraid != null and cameraid !=''">#{cameraid},</if>
            <if test="startx != null and startx !=''">#{startx},</if>
            <if test="starty != null and starty !=''">#{starty},</if>
            <if test="endx != null and endx !=''">#{endx},</if>
            <if test="newX != null and newX !=''">#{newX},</if>
            <if test="endy != null and endy !=''">#{endy},</if>
            <if test="componentName != null and componentName !=''">#{componentName},</if>
            <if test="componentDefect != null and componentDefect !=''">#{componentDefect},</if>
            <if test="defectType != null and defectType !=''">#{defectType},</if>
            <if test="defectLevel != null and defectLevel !=''">#{defectLevel},</if>
            <if test="checkDate != null and checkDate !=''">#{checkDate},</if>
            <if test="STN != null and STN !=''">#{STN},</if>
            <if test="KMV != null and KMV !=''">#{KMV},</if>
            <if test="TIM != null and TIM !=''">#{TIM},</if>
            <if test="imgPath != null and imgPath !=''">#{imgPath}</if>
         </trim>
    </insert>

    <update id="updateFcRecord" parameterType="FcRecord">
        update fc_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="imgkey != null and imgkey !='' ">imgKey = #{imgkey},</if>
            <if test="content != null and content !='' ">content = #{content},</if>
            <if test="taskpath != null and taskpath !='' ">taskPath = #{taskpath},</if>
            <if test="pole != null and pole !='' ">pole = #{pole},</if>
            <if test="cameraid != null and cameraid !='' ">cameraId = #{cameraid},</if>
            <if test="startx != null and startx !='' ">startX = #{startx},</if>
            <if test="starty != null and starty !='' ">startY = #{starty},</if>
            <if test="endx != null and endx !='' ">endX = #{endx},</if>
            <if test="newX != null and newX !='' ">endX = #{newX},</if>
            <if test="endy != null and endy !='' ">endY = #{endy},</if>
            <if test="componentName != null  and componentName !='' ">componentName = #{componentName},</if>
            <if test="componentDefect != null and componentDefect !='' ">componentDefect = #{componentDefect},</if>
            <if test="defectType != null and defectType !='' ">defectType = #{defectType},</if>
            <if test="defectLevel != null and defectLevel !='' ">defectLevel = #{defectLevel},</if>
            <if test="checkDate != null and checkDate !='' ">checkDate = #{checkDate},</if>
            <if test="STN != null and STN !='' ">STN = #{STN},</if>
            <if test="KMV != null and KMV !='' ">KMV = #{KMV},</if>
            <if test="TIM != null and TIM !='' ">TIM = #{TIM},</if>
            <if test="imgPath != null and imgPath !='' ">imgPath = #{imgPath}</if>
        </trim>
        where id = #{id}
    </update>


    <update id="updateImagePath" parameterType="FcRecord">
        update fc_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="imgPath != null">imgPath = #{imgPath}</if>
        </trim>
        where imgkey = #{imgkey}
    </update>

    <delete id="deleteFcRecordById" parameterType="Integer">
        delete from fc_record where id = #{id}
    </delete>

    <delete id="deleteFcRecordByIds" parameterType="String">
        delete from fc_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>