<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FcScanStatusMapper">
    
    <resultMap type="FcScanStatus" id="FcScanStatusResult">
        <result property="id"    column="id"    />
        <result property="scanedpoles"    column="scanedPoles"    />
        <result property="userid"    column="userId"    />
        <result property="currdate"    column="currdate"    />
        <result property="currtask"    column="currTask"    />
        <result property="currstartstn"    column="currStartSTN"    />
        <result property="currendstn"    column="currEndSTN"    />
        <result property="currstartstnid"    column="currStartSTNId"    />
        <result property="currendstnid"    column="currEndSTNId"    />
        <result property="currcameratype"    column="currCameraType"    />
        <result property="currpolespage"    column="currPolesPage"    />
        <result property="currpole"    column="currPole"    />
        <result property="currDirect"    column="currDirect"    />
        <result property="currCameraRealType"    column="currCameraRealType"    />
        <result property="imgKey"    column="imgKey"    />
    </resultMap>

    <sql id="selectFcScanStatusVo">
        select * from fc_scan_status
    </sql>

    <select id="selectFcScanStatusList" parameterType="FcScanStatus" resultMap="FcScanStatusResult">
        <include refid="selectFcScanStatusVo"/>
        <where>  
            <if test="scanedpoles != null  and scanedpoles != ''"> and scanedPoles = #{scanedpoles}</if>
            <if test="userid != null "> and userId = #{userid}</if>
            <if test="currdate != null  and currdate != ''"> and currdate = #{currdate}</if>
            <if test="currtask != null  and currtask != ''"> and currTask = #{currtask}</if>
            <if test="currstartstn != null  and currstartstn != ''"> and currStartSTN = #{currstartstn}</if>
            <if test="currendstn != null  and currendstn != ''"> and currEndSTN = #{currendstn}</if>
            <if test="currstartstnid != null and currstartstnid != ''"> and currStartSTNId = #{currstartstnid}</if>
            <if test="currendstnid != null  and currendstnid != ''"> and currEndSTNId = #{currendstnid}</if>
            <if test="currcameratype != null  and currcameratype != ''"> and currCameraType = #{currcameratype}</if>
            <if test="currpolespage != null  and currpolespage != ''"> and currPolesPage = #{currpolespage}</if>
            <if test="currpole != null  and currpole != ''"> and currPole = #{currpole}</if>
            <if test="currDirect != null  and currDirect != ''"> and currDirect = #{currDirect}</if>
            <if test="currCameraRealType != null  and currCameraRealType != ''"> and currCameraRealType = #{currCameraRealType}</if>
            <if test="imgKey != null  and imgKey != ''"> and imgKey = #{imgKey}</if>
        </where>
    </select>
    
    <select id="selectFcScanStatusById" parameterType="Long" resultMap="FcScanStatusResult">
        <include refid="selectFcScanStatusVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFcScanStatus" parameterType="FcScanStatus" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO fc_scan_status (userid)
        SELECT #{userid}
        from DUAL
        where not exists(select userid from fc_scan_status where userId=#{userid});
    </insert>

    <update id="updateFcScanStatus" parameterType="FcScanStatus">
        update fc_scan_status
        <trim prefix="SET" suffixOverrides=",">
            <if test="userid != null and userid != ''">userid = #{userid},</if>
            <if test="currdate != null and currdate != ''">currdate = #{currdate},</if>
            <if test="currtask != null and currtask != ''">currTask = #{currtask},</if>
            <if test="currstartstn != null and currstartstn != ''">currStartSTN = #{currstartstn},</if>
            <if test="currendstn != null and currendstn != ''">currEndSTN = #{currendstn},</if>
            <if test="currstartstnid != null  and currstartstnid != ''">currStartSTNId = #{currstartstnid},</if>
            <if test="currendstnid != null and currendstnid != ''">currEndSTNId = #{currendstnid},</if>
            <if test="currcameratype != null and currcameratype != ''">currCameraType = #{currcameratype},</if>
            <if test="currpolespage != null and currpolespage != ''">currPolesPage = #{currpolespage},</if>
            <if test="currpole != null   and currpole != ''" >currPole = #{currpole},</if>
            <if test="currDirect != null   and currDirect != ''" >currDirect = #{currDirect},</if>
            <if test="currCameraRealType != null   and currCameraRealType != ''" >currCameraRealType = #{currCameraRealType},</if>
            <if test="imgKey != null   and imgKey != ''" >imgKey = #{imgKey},</if>
        </trim>
        where userid = #{userid}
    </update>

    <update id="updateFcScanPoles" parameterType="String">
        update fc_scan_status set scanedPoles =concat(scanedPoles,',',#{pole}) where locate(#{pole},scanedPoles)=0 AND userId = #{userId}
    </update>

    <delete id="deleteFcScanStatusById" parameterType="Long">
        delete from fc_scan_status where id = #{id}
    </delete>

    <delete id="deleteFcScanStatusByIds" parameterType="String">
        delete from fc_scan_status where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>